.ScoreTable {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  width: fit-content;
  background-color: white;
  padding: 1em;
  cursor: pointer;
}

.ScoreTable table {
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}

.totalScore{
  text-transform: uppercase;
}
