/* 
* To place something on the bottom right, we do positon absolute, then bottom 0 and 
* right 0. Top left would be top 0, left 0 and so on, so this is the pattern. For center,
* we do top: 50% and left 50% with positon aboluste, then negate the height and width. For
* example: copy button has 100px, so we do margin-left: -50px, half of 100 px, and margin
* top -15px, half of its height of 30px
*/

.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.5px;
}
.SingleColorPalette .ColorBox {
  height: 50%;
}

.ColorBox.go-back {
  background-color: black;
}

.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}

.copy-button{
    opacity: 0;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.box-content {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border: none;
  right: 0px;
  bottom: 0px;
  color: white;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  /* 
    * This is mainly because we want the box to grow from center 
    * to all the way to full screen. So initially giving it
    * a small scale value and later larger value can do the 
    * trick
    */
  transform: scale(0.1);
  transition: transform 0.6s ease-in-out;
}

/*
* this is the class that makes the overlay to grow 
* when we click one of the colors in the pallete
*/
.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}

.copy-msg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: white;
  flex-direction: column;
}

.copy-msg.show {
  transform: scale(1);
  opacity: 1;
  z-index: 25;
  transition: all 0.4s ease-in-out;
  /*
    * We want to wait for the background to grow first, and 
    * then the text to appear
    */
  transition-delay: 0.3s;
}

.copy-msg h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
}
